.container.center-form-container
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:'myform' }) do |f|
    = render "devise/shared/error_messages", resource: resource
    = f.hidden_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    %h4
      Change password
    .separator
    .field
      = f.label "New password (leave blank if you don't want to change it)"
      = f.password_field :password, autocomplete: "new-password"
      - if @minimum_password_length
        %em
          = @minimum_password_length
          characters minimum
    .field
      = f.label "New password confirmation"
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .separator

    .field
      = f.label :username
      = f.text_field :username
    .field
      = f.label :phone_number
      = f.text_field :phone_number
    .field
      = f.label :address
      = f.text_field :address, id: "address-input", placeholder: "Address"
    .field.two-col
      = f.text_field :city_code , id: "citycode-input", placeholder: "City code"
      = f.text_field :city, id: "city-input", placeholder: "City"

    .field
      = f.file_field :avatar
    .separator
    .field
      = f.label :current_password
      = f.password_field :current_password, autocomplete: "current-password"

    .actions
      = f.submit "Update"
  = link_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn-edit", method: :delete
= javascript_pack_tag 'auto-complete'
