%td= link_to 'Create', new_offer_path
%table.table
  %thead
    %tr
      %th{:scope => "col"} Title
      %th{:scope => "col"} Description
      %th{:scope => "col"} Price
      %th{:scope => "col"} Action
  %tbody
    - @user.offers.each do |offer|
      %tr
        %td
          =offer.title
          - if current_user == offer.user
            = "*"
        %td= offer.description
        %td= offer.price
        %td= link_to 'Show', offer