.container
  .row
    .orders-list.col-8
      - @user.offers.each do |offer|
        .order-card
          - if offer.images.empty?
            .order-mainpicture{style: "background-image: url(https://via.placeholder.com/300x200/20)"}
          - else
            .order-mainpicture{style: "background-image: url(#{url_for(offer.images[0])});"}
          .order-information
            .title
              %h2
                =offer.title
              %h4
                #{offer.price} €
            .subinfo
              %div
                #{offer.user.city}
              %div
                todo category
            .show
              %td= link_to 'Show', offer
              %td= link_to 'Edit', edit_offer_path(offer)
              %td= link_to 'Remove', offer, method: :delete