%h1
  = @user.username

%i
  = @user.email

%a{ href: "tel:#{@user.phone_number}" }

= image_tag(url_for(@user.avatar))
%div
  = link_to like_user_path(@user), class: '', method: :put, remote: true do
    %i{id: "like_btn", class: "fas fa-thumbs-up #{"feedback-green" if current_user.liked? @user}" }
    %span{ id: "like_counter"}= @user.get_likes.size

%div
  = link_to unlike_user_path(@user), class: '', method: :put, remote: true do
    %i{ id: "dislike_btn", class: "fas fa-thumbs-down #{"feedback-red" if current_user.disliked? @user}" }
    %span{ id: "dislike_counter"}= @user.get_dislikes.size