.container
  .row
    .col-8
      = image_tag(url_for(@user.avatar))
      %h1
        = @user.username
      %p
        %i.fas.fa-location-arrow
        #{@user.address}, #{@user.city} - #{@user.city_code.floor}
      .comments
        %h2 Comments
        - @user.comments.each do |comment|
          .comment
            .c-header
              .commenter
                = link_to comment.commenter.username, comment.commenter, class: 'links'
              .comment-date
                =comment.last_change.strftime("%d/%m/%Y")
              .rate
                %i.fas.fa-star
                =comment.rate
            .body
              =comment.body
            .rater{data: {rate: comment.rate}}
    .col-4
      .about
        .user-information-line
          .rater{data: {rate: @user.rate}}
          Mail :
          %a{ href: "mailto:#{@user.email}" }
            #{@user.email}
          .click-to-clipboard{data: {clip: @user.email}}
            %i.fas.fa-clipboard
        .user-information-line
          Phone :
          %a{ href: "tel:#{@user.phone_number}" }
            #{@user.phone_number}
          .click-to-clipboard{data: {clip: @user.phone_number}}
            %i.fas.fa-clipboard
      .comment-form
      %h2 Add comment:
      = form_for [@user, Comment.new ], html: {class: "myform"} do |f|
        =f.hidden_field :commented_id, value: @user.id
        = f.text_area :body
        #rater-input
        =f.hidden_field :rate, id: 'rater-hidden', value: 0
        %p
          = f.submit "Send"

= javascript_pack_tag 'rater'
= javascript_pack_tag 'rater-input'
= javascript_pack_tag 'clipboard'