.container
  .row
    .orders-list.col-8
      - @offers.each do |offer|
        .order-card
          - if offer.images.empty?
            .order-mainpicture{style: "background-image: url(https://via.placeholder.com/300x200/20)"}
          - else
            .order-mainpicture{style: "background-image: url(#{url_for(offer.images[0])});"}
          .order-information
            .title
              %h2
                =offer.title
              %h4
                #{offer.price} €
            .subinfo
              %div
                #{offer.user.city}
              %div
                - if not offer.category.nil?
                  =offer.category.name
            .show
              %td= link_to 'Show', offer
    .order-filter.col-4
      %h1
        Filter
      = search_form_for @q, class: 'myform myformfilter' do |f|
        = f.search_field :title_has_every_term, placeholder: 'title'
        = f.select :category_id_eq, options_from_collection_for_select(Category.order_by_name,:id, :name, @q.category_id_eq), { include_blank: true }, { placeholder: 'Status' }
        %div
          = f.submit 'search'