.container
  .row
    .col-8
      .focus-img{style: "background-image: url(#{url_for @offer.images[0]})"}
      %h1
        =@offer.title
      %h2
        #{@offer.price} €
      %h3
        =@offer.category.name
      %p
        =@offer.description
    .col-4.solder-info
      %p
        Sold by
        %span.bold
          = link_to @offer.user.username, @offer.user, class: 'links'
      %p
        .rater{data: {rate: @offer.user.rate}}
      %p
        Phone :
        = @offer.user.phone_number
        %i.fas.fa-clipboard.click-to-clipboard{data_clip: @offer.user.phone_number}
      %p
        Mail :
        = @offer.user.email
        %i.fas.fa-clipboard.click-to-clipboard{data_clip: @offer.user.email}
= javascript_pack_tag 'clipboard'
= javascript_pack_tag 'rater'
