.container
  .row
    .col-8
      .focus-img{style: "background-image: url(#{url_for @offer.images[0]})"}
      %h1
        =@offer.title
      %h2
        #{@offer.price} €
      %h3
        =@offer.category.name
      %p
        =@offer.description
    .col-4.solder-info
      %p
        Sold by
        %span.bold
          = link_to @offer.user.username, @offer.user, class: 'links'
        %p
        .rater{data: {rate: @offer.user.rate}}
        .user-information-line
          Mail :
          = @offer.user.email
          .click-to-clipboard{data: {clip: @offer.user.email}}
            %i.fas.fa-clipboard
      .user-information-line
        Phone :
        = @offer.user.phone_number
        .click-to-clipboard{data: {clip: @offer.user.phone_number}}
          %i.fas.fa-clipboard

= javascript_pack_tag 'clipboard'
= javascript_pack_tag 'rater'
