- if current_user != @offer.user
  = link_to 'Edit', edit_offer_path(@offer)
  = link_to 'Remove', @offer, method: :delete

  = link_to 'Profile', @offer.user

  = link_to 'Propose', offer_proposition_index_url(@offer), method: :post
  = link_to 'Propositions', offer_proposition_index_url(@offer)
.container
  .row
    .col-8
      .focus-img{style: "background-image: url(#{url_for @offer.images[0]})"}
      %h1
        =@offer.title
      %h2
        #{@offer.price} €
      %h3
        =@offer.category.name
      %p
        =@offer.description
    .col-4.solder-info
      %p
        Sold by
        %span.bold
          = link_to @offer.user.username, @offer.user, class: 'links'
      %p
        todo étoile
      %p
        todo make a proposition ?