%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "/"} Navbar
  %button.navbar-toggler{ aria: { controls: 'navbarSupportedContent', expanded: :false, label: "Toggle navigation" }, data: {target: "#navbarSupportedContent", toggle: :collapse}, type: :button}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{href: "/offers"}
          Offres
      %li.nav-item
        %a.nav-link{href: "/offers"}
          Mes offres
    %div.my-4.my-lg-0.inline-flex
      - if user_signed_in?
        .connexion-info
          = "Welcome " + current_user.username
        = link_to current_user do
          %i.fas.fa-user
        = link_to '/users/sign_out', method: :delete do
          %i.fas.fa-sign-out-alt
      - else
        = link_to 'Login', '/users/sign_in', class: "btn btn-outline-success my-2 my-sm-0"
        = link_to 'Register', '/users/sign_up', class: "btn btn-outline-success my-2 my-sm-0"
